{% extends '@admin/default_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_list'] %}

{% block title %}Zipcode{% endblock %}
{% block sub_title %}プラグイン一覧{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block stylesheet %}{% endblock stylesheet %}

{% block javascript %}{% endblock javascript %}

{% block main %}
    <form role="form" method="post">

        {{ form_widget(form._token) }}

        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>圧縮するフォルダー名</span></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <span>フォルダ名</span><span class="badge badge-primary ml-1">必須</span>
                                </div>
                                <div class="col mb-2">
                                    {{ form_widget(form.name) }}
                                    {{ form_errors(form.name) }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-xs mt-2">申し込み</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
